.content {
    background-color: blueviolet;
}


.indexPage {
    background-color: rgb(164, 194, 244);
    margin-left: 40px;

    h1 {
        color: rgb(105, 156, 236);
        text-align: center;
    }
}