@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
   background-color: rgb(207, 226, 243);
} 


content {
    background-color: rgb(207, 226, 243);
}


.form-label {
    text-align: center;
}


.card {
    background-color: rgb(164, 194, 244);
    color: rgb(78, 139, 232);

    margin-left: 3.646vw;
    margin-right: 3.646vw;
    margin-top: 2.083vw;
    margin-bottom: 2.083vw;

    max-width: 72.917vw;

    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 5.208vw;
    font-size: 2.5083vw;
    
    border-radius: 1.302vw;
}

#title {
    background-color: rgb(164, 194, 244);
    color: rgb(78, 139, 232);

    margin-left: 3.646vw;
    margin-right: 3.646vw;
    margin-top: 2.083vw;
    margin-bottom: 2.083vw;

    max-width: 90.917vw;

    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 5.208vw;
    font-size: 2.5083vw;
    
    border-radius: 1.302vw;
}


.form-control {
    max-width: 26.083vw;
    position: absolute;

    top: 17.593vw;
    left: 36vw
}

.uploadButton {
    background-color: rgb(164, 194, 244);
    color: rgb(78, 139, 232);

    scale: 1.2;
    position: absolute;
    
    top: 17.9vw;
    left: 62.9vw;

    border-radius: 15%;
    border: 1vw;
}

.uploadButton:hover {
    background-color: rgb(109, 158, 235);
    scale: 1.4;
}

#maintext {

    position: absolute;
    top: 23.9vw;
    max-width: 90.917vw;

}

#watermark {
    scale: 50%;

    position: absolute;
    top: 68vh;
    left: 35%;

    max-width: 26.083vw;

}

#watermark2 {
    scale: 50%;

    position: absolute;
    top: 23vh;
    left: 35%;

    max-width: 26.083vw;
}

#downloadButton {
    background-color: rgb(164, 194, 244);
    color: rgb(78, 139, 232);
    scale: 1.2;
    position: absolute;
    
    top: 31.0vh;
    left: 60vw;

    border-radius: 15%;
    border: 1vw;
}

#downloadButton:hover {
    background-color: rgb(109, 158, 235);
    scale: 1.4;
}
ul {
    font-weight: bold;
    font-size: 2.5vw;
}

.container-fluid {
    background-color: rgb(164, 194, 244);
    color: rgb(78, 139, 232);

    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 20vw;
    font-size: 2.5vw;

}

#mouthImage {
    background-color: rgb(109, 158, 235); 
    border-radius: 1.5vw;
}

#mouthImage:hover {
    scale: 1.06;
    background-color: rgb(109, 158, 235)
}









