{% extends "base.html" %}
{% block title %}Download MP3 {% endblock %}


{% block content %}


   <div class="downloadPage">


       <nav class="navbar navbar-expand lg">
           <div class="container-fluid">
               <a class="navbar-brand" href="#" style="font-size: 2.5vw;">BEES</a>
               <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
           </div>
       </nav>


       <div class="content">


           <div class="card" id="title">
               <div class="card-body">
                   Download and View MP3 File
               </div>
           </div>


           <a href="{{ url_for('download', filename=filename) }}" class="btn btn-primary" id="downloadButton">Download File</a>


           <div class="card" id="watermark2">
                   <div class="card-body">
                       <a href="https://www.youtube.com/@budgeteliteengineeringsolution">Made by BEES</a>
                   </div>


           </div>

   </div>

   </div>

{% endblock %}

